<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
      <h:form>
    <h:panelGrid columns="4" cellpadding="5">
        <h:outputLabel for="CNPJ" value="CNPJ" style="font-weight:bold" />
        <p:inputText id="CNPJ" value="" />
        <p:commandButton value="Buscar" update="display" icon="ui-icon-check" />
        <h:outputText id="display" value="#{ReceitawsAPI.getCompanyDetails}" />
        
        <h:outputLabel for="Nome" value="Name:" style="font-weight:bold" />
        <p:inputText id="name" value="" />
        
        <h:outputLabel for="Logradouro" value="Logradouro" style="font-weight:bold" />
        <p:inputText id="Logradouro" value="" />
        
        <h:outputLabel for="número" value="número" style="font-weight:bold" />
        <p:inputText id="número" value="" />
        
        <h:outputLabel for="complemento" value="Complemento" style="font-weight:bold" />
        <p:inputText id="complemento" value="" />
        
        <h:outputLabel for="CEP," value="CEP" style="font-weight:bold" />
        <p:inputText id="cep" value="" />
        
        <h:outputLabel for="bairro" value="Bairro" style="font-weight:bold" />
        <p:inputText id="bairro" value="" />
        
        <h:outputLabel for="cidade" value="cidade" style="font-weight:bold" />
        <p:inputText id="cidade" value="" />
        
        <h:outputLabel for="Moeda" value="Moeda" style="font-weight:bold" />
        <p:inputText id="Moeda" value="" />
       
    </h:panelGrid>
</h:form>
    </h:body>
</html>

